[submodule "hub"]
	path = hub
	url = git@github.com:radicaldesigns/spokes-auth.git
[submodule "s3"]
	path = s3
	url = git@github.com:radicaldesigns/spokes-s3.git
[submodule "templator"]
	path = templator
	url = git@github.com:radicaldesigns/templator.git
[submodule "petitioner"]
	path = petitioner
	url = git@github.com:radicaldesigns/petitioner.git
[submodule "say"]
	path = say 
	url = git@github.com:radicaldesigns/say-server.git 
